html {
    min-height: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    height: 100%;
    font-size: 16px;
    color: black;
    background-color:rgb(160, 215, 233);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 90%;
    margin: auto;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#navContainer {
    margin-top: 0;
    margin-bottom: 0;
}

#main-content {
    padding-bottom: 2.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2.5rem;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.75rem;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;;
    font-size: 1.5rem;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
}

.navbar .navbar-nav .nav-link {
    font-size: 18px;
    color: rgb(24, 172, 221);
}

.navbar .navbar-nav .nav-link:hover {
    color: rgb(0,0,0,0.7);
    transition-duration: 0.25s;
}

#header-nav {
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    border: none;
}

#navContainer .navbar-toggler {
    font-size: 18px;
    color: rgb(24, 172, 221);
}

#search {
    font-size: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#search .fa {
    border: none;
    background: none;
}

.row {
    margin: auto;
}

.spacing {
    padding-left: 10px;
    padding-right: 10px;
}

#search {
    padding-left: 24px;
    padding-right: 24px;
}

#left-element img {
    margin-top: auto;
    width: 500px;
    padding: 6px;
    height: auto;
    background:rgb(24, 172, 221);
    border-radius: 50%;
}

.box{
    margin: auto;
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons a {
    color: rgb(24, 172, 221);
    text-decoration: none;
}

.icons a:hover {
    color: rgb(0,0,0,0.7);
    transition-duration: 0.25s;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
    #navContainer {
        border-bottom: 1px solid rgb(24, 172, 221);
        /* height: 54px; */
    }
}
  
  /********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    #left-element img {
        width: 300px;
    }
    
    .navbar {
        border-bottom: 1px solid rgb(24, 172, 221);
        height: 54px;
    }

    .navbar .navbar-nav .nav-link {
        font-size: calc(0.35rem + 0.80vw);
        color: rgb(24, 172, 221);
    }

    .icons {
        font-size: 14px;
    }

    .navbar .navbar-nav .nav-link {
        font-size: calc(0.35rem + 0.80vw);
        color: rgb(24, 172, 221);
    }

    .box{
        width: 100%;
    }

    .right-element h2, .right-element h3, .right-element h4 {
        font-size: calc(.75rem + 1.30vw);
    }
}
  
  /********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    #left-element img {
        width: 350px;
    }

    .navbar-nav {
        text-align: left;
    }

    .navbar .navbar-nav .nav-link {
        font-size: 1.3rem;
    }

    .navbar .navbar-nav a {
        position: relative;
    }

    /* .navbar .navbar-nav a::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        color: transparent;
        width: 0%;
        content: '.';
    }

    .navbar .navbar-nav a:hover::after {
        width: 50%;
        transition-duration: 0.25s;
    } */

    .box{
        width: 100%;
    }

    .right-element #box h2, .right-element #box h3, .right-element #box h4 {
        font-size: calc(.75rem + 1.30vw);
    }
}
  
  /********** Extra small devices only **********/
@media (max-width: 768px) {
    .navbar-nav {
        text-align: left;
    }

    #left-element img {
        width: 300px;
    }

    .navbar .navbar-nav a {
        position: relative;
    }

    .navbar .navbar-nav .nav-link {
        font-size: 1.1rem;
    }

    /* .navbar .navbar-nav a::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        color: transparent;
        width: 0%;
        content: '.';
    }

    .navbar .navbar-nav a:hover::after {
        width: 50%;
        transition-duration: 0.25s;
    } */

    .icons {
        font-size: 14px;
    }

    .box{
        width: 100%;
    }
    
    .right-element h2, .right-element h3, .right-element h4 {
        font-size: calc(.75rem + 1.30vw);
    }
}
  
/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

    .navbar-nav {
        text-align: left;
    }

    #left-element img {
        width: 60vw;
    }

    #navContainer.navbar-nav .nav-link {
        font-size: 1.1rem;
    }

    /* .navbar .navbar-nav a::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        color: transparent;
        width: 0%;
        content: '.';
    }

    .navbar .navbar-nav a:hover::after {
        width: 50%;
        transition-duration: 0.25s;
    }

    #navContainer .navbar-nav a:hover::after {
        width: 50%;
        transition-duration: 0.25s;
    } */

    .box{
        width: 100%;
    }
  
    .col-xxs-12 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      float: left;
      width: 100%;
    }

    .icons {
        font-size: 4vw;
    }

    h2, h3, h4 {
        font-size: calc(.75rem + 1.30vw);
    }
}