@charset "utf-8";

/*more size styling for different screen sizes*/

*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color:rgb(160, 215, 233);
}

body {
    min-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color:rgb(160, 215, 233);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
    line-height: 50px;
    font-size: 22px;
}

h4 {
    line-height: 25px;
    font-size: 14px;
}

p, li {
    line-height: 22px;
    font-size: 18px;
}

li {
    margin-left: 25px;
}

#nav {
    width: 96%;
    height: 50px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0;
    background-color:rgb(160, 215, 233);
    border-bottom: 1px solid rgb(24, 172, 221);
    position: sticky;
    top: 0;
}
  
  /* Hide Hamburger when screen is large*/
  #nav label, #hamburger { 
      display: none; 
}
  
  /* Horizontal Menu Items */
  #navitems { 
      display: flex; 
}

#navitems a {
    width: 16.66%; /* 100% / 5 tabs = 20% */
    padding: 10px;
    color: black;
    font-size: 1.1em;
    text-decoration: none;
    text-align: center;
}

#navitems a:hover {
    opacity: 0.7;
}

#row {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 90vh;
}

.left-element {
    float: left;
    margin: 0 1% 0 1%;
    padding: 10px;
    text-align: center;
}

.right-element {
    margin: 0 1% 0 1%;
    float: left;
    padding: 10px;
    text-align: left;
}

.left-element img {
    margin-top: auto;
    padding: 6px;
    height: auto;
    background:rgb(24, 172, 221);
    border-radius: 50%;
}

.fa {
    font-size: 30px;
    width: 50px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
  }
  
.fa:hover {
    opacity: 0.7;
}

.fa-envelope {
    color: rgb(24, 172, 221);
}
  
.fa-twitter {
    color: rgb(24, 172, 221);
}

.fa-linkedin {
    color: rgb(24, 172, 221);
}

.ai {
    font-size: 30px;
    width: 50px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
  }
  
.ai:hover {
    opacity: 0.7;
}

.ai-google-scholar-square {
    color: rgb(24, 172, 221);
}

#footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(160, 215, 233)
}

/*@media screen and (min-width: 1441px) {
    .left-element {
        width: 38%;
        margin: 0;
    }

    .right-element {
        width: 58%;
        margin: 0;
    }

    h1, h2 {
        font-size: 22px;
    }

    h4 {
        font-size: 14px;
    }

    p, li {
        font-size: 16px;
        padding-right: 50px;
    }

    img {
    width: 340px;
    height: auto;
    }

    .icons {
        font-size: 18px;
    }

    .fa, .ai {
        width: 60px;
    }
}*/

@media screen and (min-width: 1200px) {
    .left-element {
        width: 38%;
        margin: 0;
    }

    .right-element {
        width: 58%;
        margin: 0;
    }

    h1, h2 {
        font-size: 22px;
    }

    h4 {
        font-size: 14px;
    }

    p, li {
        font-size: 1.05em;
        padding-right: 50px;
    }

    img {
    width: 340px;
    height: auto;
    }

    .icons {
        font-size: 18px;
    }

    .fa, .ai {
        width: 60px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .left-element {
        width: 38%;
        margin: 0;
    }

    .right-element {
        width: 58%;
        margin: 0;
    }

    h1, h2 {
        font-size: 20px;
    }

    h4 {
        font-size: 12px;
    }

    p, li {
        font-size: 16px;
        padding-right: 50px;
    }

    img {
    width: 340px;
    height: auto;
    }

    .icons {
        font-size: 16px;
    }

    .fa, .ai {
        width: 50px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .left-element {
        width: 98%;
    }

    .right-element {
        width: 98%;
    }

    h1, h2 {
        font-size: 20px;
    }

    h4 {
        font-size: 12px;
    }

    p, li {
        font-size: 16px;
    }
    img {
    width: 340px;
    height: auto;
    }

    .icons {
        font-size: 16px;
    }

    .fa, .ai {
        width: 50px;
    }
}

  /* Show hamburger menu when screen is small */
  @media screen and (min-width: 400px) and (max-width: 767px){

    #row {
        padding: 10px;
    }

    .left-element {
        width: 98%;
    }

    .right-element {
        width: 98%;
    }

    #nav label { 
      display: inline-block; 
      color: black;
      background: rgb(160, 215, 233);
      font-style: normal;
      font-size: 2.2em;
      padding: 0;
    }
  
    /* create vertical menu */
    #navitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
      background-color: rgb(160, 215, 233);;
    }

    #navitems a:hover {
        opacity: 1;
    }
  
    /* Toggle Show/Hide Menu */
    #navitems { 
        display: none; 
    }
    #nav input:checked ~ #navitems { 
        display: block; 
    }

    h1, h2 {
        font-size: 20px;
    }

    h4 {
        font-size: 12px;
    }

    p, li {
        font-size: 16px;
    }

    img {
    width: 260px;
    height: auto;
    }

    .icons {
        font-size: 16px;
    }

    .fa, .ai {
        width: 50px;
    }
}

@media screen and (max-width: 399px) {

    #row {
        padding: 10px;
    }

    .left-element {
        width: 98%;
    }

    .right-element {
        width: 98%;
    }

    #nav label { 
      display: inline-block; 
      color: black;
      background: rgb(160, 215, 233);
      font-style: normal;
      font-size: 2.2em;
      padding: 0;
    }
  
    /* create vertical menu */
    #navitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
      background-color: rgb(160, 215, 233);;
    }

    #navitems a:hover {
        opacity: 1;
    }
  
    /* Toggle Show/Hide Menu */
    #navitems { 
        display: none; 
    }
    #nav input:checked ~ #navitems { 
        display: block; 
    }

    h1, h2 {
        font-size: 18px;
    }

    h4 {
        font-size: 12px;
    }

    p, li {
        font-size: 16px;
    }

    img {
    width: 200px;
    height: auto;
    }

    .icons {
        font-size: 16px;
    }

    .fa, .ai {
        width: 40px;
    }
}