html {
    min-height: 100%;
}

body {
    min-height: 100%;
    font-size: 16px;
    color: black;
    background-color:rgb(160, 215, 233);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Customize the container margins */
.container {
    max-width: 90%;
    margin: auto;
}

.row {
    margin: auto;
}

/* Center the header text in the header img */
#header {
    position: relative;
    border: 1px solid rgb(24, 172, 221);
    border-top: 0;
    border-bottom: 0;
}

#header h1 {
    font-size: 5em;
    margin: 0;
    width: 100%;
    position: absolute;   
    top: 50%;
    left: 50%;
    padding: 3%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(160, 215, 233, .5);
}

/*h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.75rem;
}

h2 {
    text-decoration: 1px solid underline;

}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
}*/

p {
    padding: 10px;
}

.navbar, .navbar-nav {
    background-color:rgb(160, 215, 233);
}

.navbar .navbar-nav .nav-link {
    font-size: 1.1em;
    color: rgb(24, 172, 221);
    background-color: rgb(160, 215, 233);
}

.navbar .navbar-nav .nav-link:hover {
    color: rgb(0,0,0,0.7);
    transition-duration: 0.25s;
}

#header-nav {
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    border: none;
}

#navContainer .navbar-toggler {
    font-size: 18px;
    color: rgb(24, 172, 221);
}

#search {
    padding-left: 24px;
    padding-right: 24px;
}

#search {
    font-size: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#search .fa {
    border: none;
    background: none;
}

#quickscroll {
    padding: 0;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(24, 172, 221);
    border-top: 0;
}

#quickscrollNav #quickscroll .navbar-nav {
    background-color: rgb(250, 250, 250);
}

#quickscroll .navbar-nav .nav-link {
    color: black;

}

#quickscroll .navbar-nav .nav-link:hover {
    color: rgb(24, 172, 221);
    color: rgb(0,0,0,0.7);
    transition-duration: 0.25s;
}

#right-element {
    background-color: rgb(250, 250, 250, 0.3);
}

.bg-img {
    background-image: url('images/stock1.jpg');
    height: 100vh;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
    #left-element img {
        width: 350px;
    }

    .navbar {
        border-bottom: 1px solid rgb(24, 172, 221);
        height: 54px;
    }
    
    #main-content {
        min-height: 92%;
        height: 92%;
    }
}
  
  /********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    #left-element img {
        width: 300px;
    }
    
    .navbar {
        border-bottom: 1px solid rgb(24, 172, 221);
        height: 54px;
    }
    
    #main-content {
        min-height: 92%;
        height: 92%;
    }

    .icons {
        font-size: 14px;
    }

    .navbar .navbar-nav .nav-link {
        font-size: 1.1em;
    }
}
  
  /********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    #left-element img {
        width: 350px;
    }

    .navbar-nav {
        text-align: center;
    }

    .navbar .navbar-nav a {
        position: relative;
    }

    .navbar .navbar-nav a::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: white;
        color: transparent;
        width: 0%;
        content: '.';
        height: 1px;
    }

    .navbar .navbar-nav a:hover::after {
        width: 50%;
        transition-duration: 0.25s;
    }
}
  
  /********** Extra small devices only **********/
@media (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }

    #left-element img {
        width: 300px;
    }

    .navbar .navbar-nav a {
        position: relative;
    }

    .navbar .navbar-nav a::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: white;
        color: transparent;
        width: 0%;
        content: '.';
        height: 1px;
    }

    .navbar .navbar-nav a:hover::after {
        width: 50%;
        transition-duration: 0.25s;
    }

    .icons {
        font-size: 14px;
    }

    .navbar .navbar-nav .nav-link {
        font-size: 1.1em;
    }
}
  
  
  /********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

    .navbar-nav {
        text-align: center;
    }

    #left-element img {
        width: 60vw;
    }

    .navbar .navbar-nav a {
        position: relative;
    }

    .navbar .navbar-nav a::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: white;
        color: transparent;
        width: 0%;
        content: '.';
        height: 1px;
    }

    .navbar .navbar-nav a:hover::after {
        width: 50%;
        transition-duration: 0.25s;
    }
  
    .col-xxs-12 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      float: left;
      width: 100%;
    }

    .icons {
        font-size: 4vw;
    }

    .navbar .navbar-nav .nav-link {
        font-size: 4vw;
    }

    h1 {
        font-size: 6vw;
    }
    
    h2 {
        font-size: 4.5vw;
    }
    
    h4 {
        font-size: 3.5vw;
    }
}
